.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5vw 9.5vw;
  border-bottom: 1px solid black;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 3.3vw;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 1vw;
  color: var(--color-sky-900);
}
